<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051626133268-78fa2g6sl1cbb871f6tfd469e4kb1dls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051626133268-78fa2g6sl1cbb871f6tfd469e4kb1dls</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1051626133268-1mcb9fc801ebbnsj6o648s0qnee2roae.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4xK5lxBd2MwIbkhbVXg-HWkgXg-eJwSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1051626133268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exitos</string>
	<key>PROJECT_ID</key>
	<string>exitos-app</string>
	<key>STORAGE_BUCKET</key>
	<string>exitos-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051626133268:ios:36c75921fa931c45c99401</string>
	<key>DATABASE_URL</key>
	<string>https://exitos-app.firebaseio.com</string>
</dict>
</plist>