<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708288579946-5ol3q53fsiml1peh2j9d288rf9id1gn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708288579946-5ol3q53fsiml1peh2j9d288rf9id1gn9</string>
	<key>API_KEY</key>
	<string>AIzaSyAEa6xBd7UGt0AJu8512IGzUbdDAsU8CkE</string>
	<key>GCM_SENDER_ID</key>
	<string>708288579946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appCeso</string>
	<key>PROJECT_ID</key>
	<string>ceso-digital</string>
	<key>STORAGE_BUCKET</key>
	<string>ceso-digital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708288579946:ios:9d4a123af5e6eb8fae7d13</string>
</dict>
</plist>